* {
	box-sizing: border-box;
}

#container {
	width: 1200px;
	margin: 0 auto;
}

button {
	display: inline-block;
	margin-right: 5px;
}

#topics-form {
	width: 200px;
	float: right;
}

#giphy-view {
	padding-left: 30px;
	width: 900px;
	float: left;	
}

.item {
	float: left;
	margin: 10px;
}

